Fecha Desde: <input id="date1" type="date" [(ngModel)]='a'>
Fecha Hasta: <input id="date2" type="date" [(ngModel)]='c'>
Nodo: <select id="Id" #Id="ngModel" [(ngModel)]="node" name="Id">
     <option [ngValue]="k" *ngFor="let k of nodesNames">
         {{k}}
  </option>
</select>
<button (click)="searchLogs()"> Search </button>
<hr>
<table class="table table-dark">
  <thead>
    <tr class="header">
      <th scope="col">#</th>
      <th scope="col">Nombre Host</th>
      <th scope="col">IP Host</th>
      <th scope="col">Fecha</th>
      <th scope="col">Programa</th>
      <th scope="col">Severidad</th>
      <th scope="col">Crudo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agent of listLogs | paginate: { itemsPerPage:10, currentPage: p}">
      <th scope="row">{{ index }}</th>
      <td>{{ agent.fromHost }}</td>
      <td> {{ agent.fromHostIp }}</td>
      <td> {{ agent.timeReported.split('T')[0] }}</td>
      <td> {{ agent.programName }}</td>
      <td> {{ agent.sysLogSeverityText }}</td>
      <td> {{ agent.rawMessage }}</td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p =$event"></pagination-controls>
