<div class="row">
  <div class="col-12">

    <!-- Filtors -->
    <form class="form-inline">
      <div class="input-group mb-2 mr-2" style="max-width: 200px;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="userid">
            <i class="far fa-calendar-alt"></i>
          </span>
        </div>
        <input type = "text" 
          class = "form-control"
          bsDatepicker  
          name="dateFrom"
          [(ngModel)]="dateFrom"
          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
      </div>

      <div class="input-group mb-2 mr-2" style="max-width: 200px;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="userid">
            <i class="far fa-calendar-alt"></i>
          </span>
        </div>
        <input type = "text" 
          class = "form-control"
          bsDatepicker  
          name="dateTo"
          [(ngModel)]="dateTo"
          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
      </div>

      <div class="form-group mb-2 mr-2">
        <select [(ngModel)]="nodeName" class="form-control" name="nodeName">
            <option *ngFor="let node of nodesNames" value="{{node}}">{{node}}</option>
          </select>
      </div>

      <button (click)="searchLogs()" type="button" class="btn btn-outline-info mb-2 mr-2">
        <i class="fas fa-sync-alt"></i>
      </button>

      <div class="input-group mb-2 mr-2">
        <input class="form-control float-right" placeholder="buscar" type="text" name="search" [(ngModel)]="filter">
      </div>
    </form>

    <!-- Tabla de logs -->
    <table class="table table-hover table-sm">
      <thead>
        <tr class="header">
          <th scope="col">Nombre Host</th>
          <th scope="col">IP Host</th>
          <th scope="col">Fecha</th>
          <th scope="col">Programa</th>
          <th scope="col">Severidad</th>
          <th scope="col">Crudo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agent of listLogs | filter:filter | paginate: { itemsPerPage:10, currentPage: p}">
          <td>{{ agent.fromHost }}</td>
          <td>{{ agent.fromHostIp }}</td>
          <td>{{ agent.timeReported.split('T')[0] }}</td>
          <td>{{ agent.programName }}</td>
          <td>{{ agent.sysLogSeverityText }}</td>
          <td>{{ agent.rawMessage }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p =$event"></pagination-controls>
  </div>
</div>
