<!--*ngIf="authService.getLoginStatus()"-->
<nav *ngIf="authService.getLoginStatus()" class="navbar navbar-expand-lg navbar-light mb-4">
  <a class="navbar-brand white" [routerLink]="">
    SmartAlert
  </a>
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [collapse]=!isCollapsed class="collapse navbar-collapse" id="navbarSupportedContent" aria-expanded="false">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active menuitem">
        <a class="nav-link white" [routerLink]="['dashboard']">
          <i class="far fa-chart-bar"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item menuitem">
        <a class="nav-link white" [routerLink]="['events']">
          <i class="far fa-clock"></i>
          Eventos
        </a>
      </li>
      <li class="nav-item menuitem">
          <a class="nav-link white" [routerLink]="['map']">
            <i class="far fa-map"></i>
            Mapa logs
          </a>
        </li>
      <li class="nav-item menuitem">
        <a class="nav-link white" [routerLink]="['notifications']">
          <i class="far fa-bell"></i>
          Notificaciones
        </a>
      </li>
      <li class="nav-item menuitem">
        <a class="nav-link white" [routerLink]="['agent']">
          <i class="far fa-paper-plane"></i>
          Logs App
        </a>
      </li>
      <li *ngIf="authService.isAdmin()" class="nav-item menuitem">
        <a class="nav-link white" [routerLink]="['users']">
          <i class="far fa-user"></i>
          Usuarios
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-right">
      <li dropdown class="nav-item dropdown">
          <a dropdownToggle class="nav-link dropdown-toggle white" [routerLink]="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle" style="font-size: 1.5em"></i>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item">{{user.username}} | {{user.nivel_acceso}}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">{{user.mail}}</a>
            <div class="dropdown-divider"></div>
            <a (click)="authService.logout()" class="dropdown-item" [routerLink]="">Logout</a>
          </div>
        </li>
    </ul>
  </div>
</nav>
