<div class="row justify-content-md-center marginlogin">
  <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="userid">
                <i class="fas fa-address-card"></i>
              </span>
            </div>
            <input [(ngModel)]="oUser.username" type="text" class="form-control" placeholder="User" aria-label="userid" aria-describedby="userid">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="passwordid">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input [(ngModel)]="oUser.password" type="Password" class="form-control" placeholder="Password" aria-label="passwordid" aria-describedby="passwordid">
          </div>
          <a (click)="this.authService.login(oUser)" class="btn btn-primary">Sing up</a>
        </div>
        <div class="card-footer text-muted">
          Logueate y disfruta de Smart Alert.
        </div>
      </div>
</div>