<div class="row text-left mb-2">
  <div class="col-12">
      <button *ngIf="!verAdd" (click)="mostrarAdd()" type="button" class="btn btn-outline-info"><i class="fas fa-plus mr-1"></i> Nuevo</button>
      <button *ngIf="verAdd" (click)="mostrarAdd()" type="button" class="btn btn-info"><i class="fas fa-plus  mr-1"></i> Nuevo</button>
      <!--<a (click)="mostrarAdd()" class="nav-link btn-block" [routerLink]="">
          new
          <i class="fas fa-plus"></i>
      </a>-->
  </div>
</div>
<div *ngIf="verAdd" class="row">
  <div #event class="mx-auto col-10 shadow p-5 mb-5 bg-white rounded">
    <form>
      <div class="form-group">
        <label for="eventName">Nombre evento</label>
        <input [(ngModel)]="nombreEvento" name="nombre" type="text" class="form-control" id="eventName" aria-describedby="emailHelp" placeholder="nombre">
      </div>

      <div class="form-row">
        <div class="col">
          <label for="eventName">Configuracion <i (click)="cofigAdd()" class="fas fa-plus"></i></label>
        </div>
      </div>

      <div #configs *ngFor="let config of eventConfigs">
        <div #configRow class="form-row">

          <!-- Tipos de configuraciones -->
          <div class="col">
            <div class="form-group">
              <select [(ngModel)]="config.tipo" class="form-control" name="tipo{{id}}">
                  <option *ngFor="let type of eventTypes" value="{{type.id_tipo}}">{{type.nombre_tipo}}</option>
                </select>
            </div>
          </div>
  
          <!-- Tipos de alerta -->
          <div class="col">
            <div class="form-group">
              <select [(ngModel)]="config.nivel" class="form-control" name="nivel{{id}}">
                  <option *ngFor="let alert of alertsTypes" value="{{alert.id_nivel}}">{{alert.nombre}}</option>
                </select>
            </div>
          </div>
  
          <!-- Operadores -->
          <div class="col-1">
            <div class="form-group">
              <select [(ngModel)]="config.operador" name="operador{{id}}" class="form-control">
                <option value=">">></option>
                <option value="<"><</option>
                <option value="=">=</option>
              </select>
            </div>
          </div>
  
          <!-- Valor a controlar -->
          <div class="col">
            <div class="form-group form-inline">
              <input [(ngModel)]="config.alerta" name="alerta{{id}}" type="text" class="form-control" id="eventConfigAlert" placeholder="Valor">
              <button (click)="removeConfig(config)" type="button" class="close" aria-label="Close" style="margin-left: 10px">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <button (click)="addEvent(template)" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Guardar</button>
    </form>
  </div>
</div>

<!-- Lista de eventos -->
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Activo</th>
      <th scope="col">Nombre Evento</th>
      <th scope="col" style="width: 10%;">Detalle</th>
      <th scope="col" style="width: 20%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <th scope="row">{{event.idEvento}}</th>

      <!-- Activo o desactivo -->
      <td *ngIf="event.activo"><button type="button" class="btn btn-success" disabled></button></td>
      <td *ngIf="!event.activo"><button type="button" class="btn btn-danger" disabled></button></td>

      <td>{{event.nombreEvento}}</td>
      <td><button (click)="detail(this.event)" type="button" class="btn btn-outline-info">Detalle</button></td>

      <td >
        <!-- Activar o desactivar -->
        <button *ngIf="!event.activo && event.soyCreador" (click)="swichStatus(true, event.idEvento)" type="button" class="btn btn-outline-success mr-1">Activar</button>
        <button *ngIf="event.activo && event.soyCreador" (click)="swichStatus(false, event.idEvento)" type="button" class="btn btn-outline-danger mr-1">Desactivar</button>

        <!-- Suscribirme o desuscribirme -->
        <button *ngIf="!event.estoySuscripto" (click)="swichSuscribe(true, event.idEvento)" type="button" class="btn btn-outline-success mr-1">Suscribirme</button>
        <button *ngIf="event.estoySuscripto" (click)="swichSuscribe(false, event.idEvento)" type="button" class="btn btn-outline-warning mr-1">Desuscribirme</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>¿Crear nuevo evento?</p>
    <button type="button" class="btn btn-primary" (click)="confirm()" >Si</button> 
    <button type="button" class="btn btn-default" (click)="decline()" >No</button>
  </div>
</ng-template>