<div class="row text-right">
  <div class="col-12">
      <a (click)="mostrarAdd()" class="nav-link btn-block" [routerLink]="">
          new
          <i class="fas fa-plus"></i>
      </a>
  </div>
</div>
<div class="row">
  <div *ngIf="verAdd" class="col-12">
    <form>
      <div class="form-group">
        <label for="eventName">Nombre evento</label>
        <input #eventNam type="text" class="form-control" id="eventName" aria-describedby="emailHelp" placeholder="nombre">
      </div>
      <div class="form-group">
        <label for="eventDetail">Descripcion</label>
        <input #eventDet type="text" class="form-control" id="eventDetail" placeholder="descripcion">
      </div>
      <label>Configuracion</label>
      <div class="form-group">
        <select #eventType *ngFor="let type of types" class="form-control" id="exampleFormControlSelect1">
            <option value="{{type.id_tipo}}">{{type.nombre_tipo}}</option>
          </select>
      </div>
      <div class="form-group">
        <input #eventAlert type="text" class="form-control" id="eventConfigAlert" placeholder="alerta">
      </div>
      <button (click)="addEvent(eventNam.value, eventDet.value, eventType.value, eventAlert.value)" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<hr>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre Evento</th>
      <th scope="col">Activo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <th scope="row">1</th>
      <td>{{ event.nombreEvento }}</td>
      <td> {{ event.activo }}</td>
    </tr>
  </tbody>
</table>
