<div class="row">
  <div #event class="mx-auto col-10 shadow p-5 mb-5 bg-white rounded">
    <form>
      <div class="form-row">
        <div class="col">
          <label for="usuario">Usuario</label>
          <input [(ngModel)]="nombreUsuario" name="nombre" type="text" class="form-control" id="usuario" aria-describedby="emailHelp" placeholder="Usuario"> 
        </div>

        <div class="col">
          <label for="password">Contraseña</label>
          <input [(ngModel)]="password" name="nombre" type="text" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Contraseña"> 
        </div>

        <div class="col">
          <label for="password2">Repetir contraseña</label>
          <input [(ngModel)]="password2" name="nombre" type="text" class="form-control" id="password2" aria-describedby="emailHelp" placeholder="Contraseña"> 
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col">
          <label for="email">EMail</label>
          <input [(ngModel)]="email" name="nombre" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email"> 
        </div>

        <div class="col">
          <label for="cel">Celular</label>
          <input [(ngModel)]="cel" name="nombre" type="text" class="form-control" id="cel" aria-describedby="emailHelp" placeholder="Celular"> 
        </div>
      </div>

      <button (click)="addUser(template)" type="submit" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModalCenter">Guardar</button>
    </form>
  </div>
</div>

<!-- Modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>¿Crear nuevo usuario?</p>
    <button type="button" class="btn btn-primary" (click)="confirm()" >Si</button> 
    <button type="button" class="btn btn-default" (click)="decline()" >No</button>
  </div>
</ng-template>