<div class="row">
  <div class="col-12">
      <div class="card-columns">
          <!--<div class="card text-center">
              <div class="card-body">
                  <h5 class="card-title">Lag</h5>
                  <canvas id="canvas"> chart </canvas>
              </div>
              <div class="card-footer text-muted">
                  2 days ago
              </div>
          </div>-->

          <div name="Nodo1" class="card text-center" (click)="openDetails()">
            <h1>Nodo1</h1>
            <p>Memoria: 100</p>
            <p>CPU: 41</p>
          </div>


          <div class="card text-center">
              <div class="card-body">
                  <h5 class="card-title">Lag</h5>
                  <canvas id="doughnutChart"> DoughnutChart </canvas>
              </div>
              <div class="card-footer text-muted">
                  2 days ago
              </div>
          </div>

          <div class="card text-center">
              <div class="card-body">
                  <h5 class="card-title">Lag</h5>
                  <canvas id="pieChart"> PieCahrt </canvas>
              </div>
              <div class="card-footer text-muted">
                  2 days ago h
              </div>
          </div>
      </div>
  </div>
</div>
