/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

body{
  padding-bottom: 50px;
}

.menuitem {
    margin-left: 1em;
}

.marginlogin {
    margin-top: 5em;
}

nav {
    background-color: #3949ab;
}

.white {
    color: white !important;
}

tabset > ul > li > a {
    color: #3949ab !important;
}

tabset > ul > li > a.active {
    color: black !important;
    background-color: rgba(0,0,0,.03) !important;
}


