/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

body{
  padding-bottom: 50px;
}

.menuitem {
    margin-left: 1em;
}

.marginlogin {
    margin-top: 5em;
}

nav {
   background-color: #3949ab;
}

li > .nav-link {
    color: white !important;
 }

 .white {
    color: white !important;
 }


